<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sifat.catagal" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="sifat.Application.FastOrderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_cover"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoGenActivity"
            android:label="Memo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f9ff9e88766f2ebeb252d819422ce87e110899d8" />
    </application>
</manifest>
